*.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
*.files.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/*.files.tar.zst filter=lfs diff=lfs merge=lfs -text
/x86_64/fastmail-1.0.9-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
/x86_64/ticktick-8.0.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
